body {
    font-family: Helvetica Neue;
    background-color: #FFFFFF;
    
    	.container { width: 500px; clear: both; } 
    	.container input { width:
		100%; clear: both; }
		
	body {
    color: grey;
}

h1 {
    color: green;
}
	
}
